/* ─── Radius Primitives ── */

:root {
  --border-radius-1: 0.375rem;
  --border-radius-2: 0.625rem;
  --border-radius-3: 1rem;
  --border-radius-4: 1.25rem;
  --border-radius-5: 9999px;
}

/* ─── Semantic Radius ── */

:root {
  --radius-xs: var(--border-radius-1);
  --radius-sm: var(--border-radius-2);
  --radius-md: var(--border-radius-3);
  --radius-lg: var(--border-radius-4);
  --radius-full: var(--border-radius-5);
}
